body{
    background-color: rgb(255, 255, 255);

}
.intro > h1{
    height: 50px;
    width: 100%;
}

.menulista{
    color: aliceblue;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: rgb(180, 102, 0);
}
.menulista >li {
    padding: 20px;
}
.tudo{
    max-width: 1000px;
    margin: auto;
    text-align: justify;
}
.título1{
    text-align: center;
    margin: 50px;
}
h2{
    text-align: center;
    margin: 50px;
}



img{
    width: 500px;
    text-align: center; 
}
.trex{
    text-align: center;
}
.brachi{
    text-align: center;
}
.stego{
    text-align: center;
}
.velo{
    text-align: center;
}
.stau{
    text-align: center;
}



.dinox{
    color: rgb(180, 102, 0);
}
.subb{
    text-align: center;
    color: gray;
}




